
@font-face {
    font-family: Cairo;
    src: url(Cairo-Regular.ttf);
}

@font-face {
    font-family: Rainbow;
    src: url(OvertheRainbow-Regular.ttf);
}

body{
    background-color: #fcfafa;
    color: #0A0A0A;
    font-family: Cairo;
}

h2{
    color: #004700
}

ul {
    list-style:none;
    padding-left: 0;
}

a{
    text-decoration: none;
    background-color: #004700;
    padding:0.3em;
    border-radius: 0.3em;
    color: #fcfafa;
}

li {
    &:before {
        content: '';
        display: inline-block;
        height: 1em;
        width: 1em;
        background-image: url(logos/blaadje_los.svg);
        background-size: contain;
        background-repeat: no-repeat;
        margin-right:0.5em;   
    }
}

svg{
    display: block;
    margin: 5.5em auto 1em;
    width: 90vw;
    -webkit-filter: drop-shadow( 1.2px 0.7px 0.7px  rgba(0,71,0,0.7));
    filter: drop-shadow( 1.2px 0.7px 0.7px rgba(0,71,0,0.7));
    & path{
        fill: #004700;
    }
}

.cadeau{
    display: block;
    position: absolute;
    height: 4em;
    top:1em;
    &--one{
        animation: moveFirst 2.5s;
        -webkit-animation: moveFirst 2.5s ; 
        right: 2em;
        transform: rotate(20deg);
    }
    &--two{
        top:0.5em;
        animation: moveSecond 2.8s;
        -webkit-animation: moveSecond 2.8s  ; 
        right: 4em;
        transform: rotate(10deg);
    }
    &--three{
        top:0.5em;
        animation: moveThird 3s;
        -webkit-animation: moveThird 3s ; 
        right: 5.7em;
        transform: rotate(-5deg);
    }
    &--four{
        animation: moveFourth 3.2s;
        -webkit-animation: moveFourth 3.2s; 
        position: absolute;
        right:7.5em;
        transform: rotate(-20deg);
    }
}

@keyframes moveFirst {
    0% {  right: 85vw; transform: rotate(0deg);}
    100% { right: 2em;; transform: rotate(740deg);}
}

@keyframes moveSecond {
    0% {  right: 100vw; transform: rotate(0deg);}
    100% {right: 4em; transform: rotate(730deg);}
}

@keyframes moveThird {
    0% {  right: 110vw; transform: rotate(0deg);}
    100% {right: 5.7em; transform: rotate(715deg);}
}

@keyframes moveFourth {
    0% {  right:140vw; transform: rotate(0deg);}
    100% {right:7.5em; transform: rotate(700deg);}
}
// @-webkit-keyframes moveFirst {
//     0% { background-color: #ccc; left: 0px; -webkit-transform: rotate(0deg);}
//     100% { background-color: #ff0000; left: 800px; -webkit-transform: rotate(180deg);}
// }

nav ul{
    display: flex;
    justify-content: space-around;
    // margin: 1.5em
}

.tekst{
    margin: 0.8em;
    padding: 0.8em;
    border: solid #004700 0.5px;
    border-radius: 0.8em;
    -webkit-box-shadow: 2px 4px 4px 0px rgba(0,71,0,0.61); 
    box-shadow: 2px 4px 4px 0px rgba(0,71,0,0.61);
}


.foto{
    object-fit: cover;
    display: block;
    max-width: 80vw;
    margin: 0 auto;
}

.autograph{
    font-family: Rainbow;
    margin-top: 2em;
    font-size: 1.8em;
    color:#004700;
}


@media(min-width: 700px){
    main{
        font-size: 22px;
    }
    nav, h2{
        font-size: 30px;
    }

    svg{
        margin: 12em auto 2em;
        width: 80vw;
        -webkit-filter: drop-shadow( 4px 5px 2px  rgba(0,71,0,0.65));
        filter: drop-shadow( 4px 5px 2px rgba(0,71,0,0.65));
        &:hover{
            -webkit-filter: drop-shadow( 3px 4px 2px  rgba(0,71,0,0.80));
            filter: drop-shadow( 3px 4px 2px rgba(0,71,0,0.80));
            }
        }

        .cadeau{
            height: 7.5em;
            top:2em;
            &--one{
                animation: moveFirst 2.5s;
                -webkit-animation: moveFirst 2.5s ; 
                right: 3em;
            }
            &--two{
                top:1em;
                animation: moveSecond 3s;
                -webkit-animation: moveSecond 3s  ; 
                right: 6em;
            }
            &--three{
                top:1em;
                animation: moveThird 3.5s;
                -webkit-animation: moveThird 3.5s ; 
                right: 9em;
            }
            &--four{
                animation: moveFourth 4.2s;
                -webkit-animation: moveFourth 4.2s; 
                right: 12em;
            }
        }
            @keyframes moveFirst {
                0% {  right: 95vw; transform: rotate(0deg);}
                100% { right: 3em; transform: rotate(740deg);}
            }
            
            @keyframes moveSecond {
                0% {  right: 120vw; transform: rotate(0deg);}
                100% {right: 6em; transform: rotate(730deg);}
            }
            
            @keyframes moveThird {
                0% {  right: 130vw; transform: rotate(0deg);}
                100% {right: 9em; transform: rotate(715deg);}
            }
            
            @keyframes moveFourth {
                0% {  right:145vw; transform: rotate(0deg);}
                100% {right:12em; transform: rotate(700deg);}
            }
}

footer nav{ 
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
a{
    padding: .5em 2em;
            font-size: 2em;
    border-radius: 1.5em;
}}


@media(min-width: 1550px){
    
svg{
    margin: 12em auto 2em;
    width: 80vw;
    -webkit-filter: drop-shadow( 4px 5px 2px  rgba(0,71,0,0.65));
    filter: drop-shadow( 4px 5px 2px rgba(0,71,0,0.65));
    &:hover{
        -webkit-filter: drop-shadow( 3px 4px 2px  rgba(0,71,0,0.80));
        filter: drop-shadow( 3px 4px 2px rgba(0,71,0,0.80));
        }
    }


.cadeau{
    height: 10em;
    top:2em;
    &--one{
        animation: moveFirst 2.5s;
        -webkit-animation: moveFirst 2.5s ; 
        right: 12em;
    }
    &--two{
        top:1em;
        animation: moveSecond 3s;
        -webkit-animation: moveSecond 3s  ; 
        right: 17em;
    }
    &--three{
        top:1em;
        animation: moveThird 3.5s;
        -webkit-animation: moveThird 3.5s ; 
        right: 21.5em;
    }
    &--four{
        animation: moveFourth 4.2s;
        -webkit-animation: moveFourth 4.2s; 
        right:26.5em;
    }
}
    @keyframes moveFirst {
        0% {  right: 95vw; transform: rotate(0deg);}
        100% { right: 12em; transform: rotate(740deg);}
    }
    
    @keyframes moveSecond {
        0% {  right: 120vw; transform: rotate(0deg);}
        100% {right: 17em; transform: rotate(730deg);}
    }
    
    @keyframes moveThird {
        0% {  right: 130vw; transform: rotate(0deg);}
        100% {right: 21.5em; transform: rotate(715deg);}
    }
    
    @keyframes moveFourth {
        0% {  right:145vw; transform: rotate(0deg);}
        100% {right:26.5em; transform: rotate(700deg);}
    }

    .container{
        display: grid;
        grid-template-columns: 1.2fr 0.8fr;
        grid-template-rows: 1fr 0,8fr;
        gap: 0.5em 3em;
        grid-template-areas:
            "a c"
            "b c";
    }

    .a{
        grid-area: "a"
    }
    .b{
        grid-area: "b";
    }

    .c{
        grid-area: "c";
        position: relative;
    }

    .foto{
        position: absolute;
        top: 50%;
        transform: translateY(-30%);
    }

    .tekst{
        width: 80vw;
        margin: 0 auto;
        padding: 4.5em;
        -webkit-box-shadow: 8px 11px 18px 0px rgba(0,71,0,0.61); 
        box-shadow: 8px 11px 18px 0px rgba(0,71,0,0.61);
        margin-bottom: 5em;
        &:hover{
            -webkit-box-shadow: 6px 8px 8px 0px rgba(0,71,0,0.85); 
            box-shadow: 6px 8px 8px 0px rgba(0,71,0,0.85);
            transition: 0.3s;
        }
    }

    .foto{
        max-height: 80vh;
    }
}